body {
  text-align: center;
}

h3 {
  font-size: 30px;
}

#timer {
  font-size: 70px;
  margin-left: 20px;
}

.button {
  margin: 20px;
}

#start {
  padding: 10px;
  font-weight: bold;
}

#stop {
  padding: 10px;
  font-weight: bold;
}

#reset {
  padding: 10px;
  font-weight: bold;
}